{{ form_start(form) }}
    {{ form_widget(form) }}
        <div style="margin-top:10px;display:flex;justify-content:center;">
        <button style="margin-right:10px"class="btn btn-outline-primary">{{ button_label|default('Enregistrer') }}</button>
        <a class="btn btn-outline-danger" href="{{ path('app_tournoi_index') }}">Annuler</a>
        </div>
{{ form_end(form) }}
