{% extends 'baseuser.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container-fluid pt-4 px-4" style="margin-bottom: 120px;">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-xl-8">
            <div class="rounded h-100 p-4" style="background: #262626;text-align: center;">
                <h1 style="margin-bottom: 30px;text-align: center;">Login</h1>
                
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    
                    <div class="form-group">
                        <label for="inputUsername" style="color: white; padding-right: 10px; padding-bottom: 10px;">Username</label>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control input__item" autocomplete="username" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" style="color: white; padding-right: 10px; padding-bottom: 10px;">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control input__item" autocomplete="current-password" required>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                    
                    <div class="g-recaptcha" data-sitekey="{{ '6Lcb7skpAAAAAMCy5jiGPLftlPFJklnqazCJa8Eh' }}"></div>
                    
                    <div class="text-center col-12 mt-4">
                        <button class="btn btn-outline-light m-2" type="submit">Sign in</button>
                        <br>
                        <a href="{{ path('app_register') }}" class="text">Don't have an account yet? Register now</a>
                        <br>
                        <a href="{{path('password_recovery')}}" class="text">Forgot your password? Click here</a>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<style>
 .g-recaptcha {
        margin-left: 200px; 
    }
</style>
{% endblock %}
