{% extends 'baseuser.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    
    <div class="text-center col-12 mt-4">
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.telephone) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        
        
        <button type="submit" class="primary-btn">Register</button>
        <div class="text-center col-12 mt-4">
        <a href="{{path('app_login')}}"class="forget__pass">Already have an account?Log in here!</a>
    {{ form_end(registrationForm) }}
{% endblock %}
