{% extends 'base.html.twig' %}

{% block title %}Ajouter un Jeu{% endblock %}

{% block body %}
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4" style="width:150% ;margin-top:5px;margin-left:120px">
                    <h1 style="Text-align:center;font-weight: 700; font-family: Quantico, Noto Sans, Malgun Gothic, Apple SD Gothic Neo, sans-serif;">Ajouter un Jeu</h1>
                    <br></br>
                    
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    
                    <form method="POST" action="{{ path('app_jeu_new') }}" enctype="multipart/form-data">
                        {{ form_start (form,{'attr': {'novalidate': 'novalidate'}}) }}

                        <div class="form-floating mb-3">
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'id': 'floatingInput'}}) }}
                            <label for="floatingInput">Nom jeu</label>
                                <div class="invalid-feedback">
                                {{ form_errors(form.nom) }}
                                </div>
                        </div>

                        <div class="mb-3">
                            <label for="formFile" class="form-label">Image du jeu</label>
                            {{ form_widget(form.imagejeu, {'attr': {'class': 'form-control bg-dark','id': 'validationCustom02', 'class': 'needs-validation'}}) }}
                            <div class="invalid-feedback">
                                {{ form_errors(form.imagejeu) }}
                            </div>
                        </div>
                        <div style="margin-top:10px;display:flex;justify-content:center;">
                            <a style="background-color:gray;margin-right:10px" class="show-btn" href="{{ path('app_jeu_index') }}">Annuler</a>
                            <button  class="show-btn">{{ button_label|default('Enregistrer') }}</button>
                        </div>
                        {{ form_end(form) }}

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        {% if not app.user %}
            window.location.href = "{{ path('app_login') }}";
        {% endif %}
    </script>
{% endblock %}
