{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}

    <div class="text-center col-12 mt-4">
        <h1 style="position : center">Gestion des Utilisateurs </h1>
       
    </div>
    <table class="table"style="border-color : white">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                
                <th>Email</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.username }}</td>
            
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.telephone }}</td>
                <td>
                <div  style="display: flex;">
                 <a type="button" class="btn btn-outline-light m-2"href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>
                    {{ include('utilisateur/_delete_form.html.twig') }}
                </div>  
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center col-12 mt-4">
    <a type="button" class="btn btn-outline-primary m-2"href="{{ path('app_utilisateur_new') }}">Create new</a>
    
    <a type="button" class="btn btn-outline-primary m-2"href="{{ path('app_role_index')}}">show roles</a>
    </div>
    <br>
    <div class="row justify-content-center">
    <div class="col-sm-4 col-xl-6">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4"style="text-align : center">Graphique à barres des statistiques des utilisateurs</h6>
            <canvas id="user-stats-bar-chart" width="688" height="343" style="display: block; box-sizing: border-box; height: 274.4px; width: 550.4px;"></canvas>
        </div>
    </div>
</div>
    
     <script>
    
    var ctx = $("#user-stats-bar-chart").get(0).getContext("2d");
    var myChart = new Chart(ctx, {
        type: "bar",
        data: {
            labels: ["Admin", "Joueur", "Organisateur", "Rapporteur"], 
            datasets: [{
                label: 'Nombre d\'utilisateurs',
                backgroundColor: "rgba(235, 22, 22, .7)",
                data: [
                    {{ adminCount }}, // Admin count
                    {{ userCount }}, // User count
                    {{ organisateurCount }}, // Organisateur count
                    {{ rapporteurCount }} // Rapporteur count
                ]
            }]
        },
        options: {
            responsive: true
        }
    });
</script>
{% endblock %}

