{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
    <div class="text-center col-12 mt-4">
        <h1 style="position : center">Gestion des Utilisateurs </h1>
       
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                
                <th>Email</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.username }}</td>
            
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.telephone }}</td>
                <td style="display: flex;">
                 <a type="button" class="btn btn-outline-light m-2"href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>
                    {{ include('utilisateur/_delete_form.html.twig') }}
                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center col-12 mt-4">
    <a type="button" class="btn btn-outline-primary m-2"href="{{ path('app_utilisateur_new') }}">Create new</a>
    <br>
    <a type="button" class="btn btn-outline-primary m-2"href="{{ path('app_role_index')}}">show roles</a>
    </div>
{% endblock %}
