{% extends 'base.html.twig' %}

{% block title %}Books!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<h1>la liste des livres</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>reference</th>
                <th>title</th>
                <th>Category</th>
                <th>published</th>
                <th>publicationDate</th>
                <th>auteur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.ref }}</td>
                    <td>{{ book.title|upper }}</td>
                    <td>{{ book.category }}</td>
                    <td>{{ book.published ? 'Oui' : 'Non' }}</td>
                    <td>{{ book.publicationDate|date('Y-m-d') }}</td>
                    <td>{{ book.author.username }}</td>
                    <td>
                        <a href="{{ path('app_book_delete', {'id': book.id}) }}">Supprimer</a>
                        <a href="{{ path('app_book_edit', {'id': book.id}) }}">editer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_book_new') }}">addlink</a>
</div>

{% endblock %}