{% extends 'baseuser.html.twig' %}

{% block title %}Gestion des rôles{% endblock %}

            {% block body %}
            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <h1>Gestion des rôles</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Role</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for role in roles %}
                        <tr>
                            <td>{{ role.id }}</td>
                            <td>{{ role.role }}</td>
                            <td>
                                <a href="{{ path('app_role_show', {'id': role.id}) }}">show</a>
                                <a href="{{ path('app_role_edit', {'id': role.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('app_role_new') }}">Create new</a>
            </div>
            <!-- Sale & Revenue End -->
            {% endblock %}
