{% extends 'base.html.twig' %}

{% block title %}Gestion des rôles{% endblock %}


            {% block body %}
            
            <div class="container-fluid pt-4 px-4">
            <div class="text-center col-12 mt-4">
                <h1>Gestion des rôles</h1>
            </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Role</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for role in roles %}
                        <tr>
                            <td>{{ role.id }}</td>
                            <td>{{ role.role }}</td>
                            <td style="display: flex;"> 
                               <a type="button" class="btn btn-outline-light m-2"href="{{ path('app_role_edit', {'id': role.id}) }}">edit</a>
                                {{ include('role/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
<div class="text-center col-12 mt-4">
                <a type="button" class="btn btn-outline-primary m-2" href="{{ path('app_role_new') }}">Create new</a>
            </div>
            </div>
            <!-- Sale & Revenue End -->
            {% endblock %}
