<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>

		<!-- Google Font -->
		<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		<link
		href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

		<!-- Css Styles -->
		<link rel="stylesheet" href="{{ asset('css1/bootstrap.min.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ asset('css1/font-awesome.min.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ asset('css1/elegant-icons.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ asset('css1/plyr.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ asset('css1/nice-select.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ asset('css1/owl.carousel.min.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ asset('css1/slicknav.min.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ asset('css1/style.css') }}" type="text/css">

	</head>

	<body>
		<!-- Page Preloder -->
		<div id="preloder">
			<div class="loader"></div>
		</div>

		<!-- Header Section Begin -->
		<header class="header">
			<div class="container">
				<div class="row">
					<div class="col-lg-2">
						<div class="header__logo">
							<a href="./index.html">
								<img src="{{ asset('img/logo.png') }}" alt="" style="width: 130px; height: 60px;">
							</a>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="header__nav">
							<nav class="header__menu mobile-menu">
								<ul>
									<li class="active">
										<a href="./index.html">Home</a>
									</li>
									<li>
										<a href="./blog.html">Nos tournois</a>
									</li>
									<li>
										<a href="/produit-cards">Produits</a>
									</li>
									<li {% block active4 %}{% endblock %}><a href="{{path("app_reclamations_index")}}">Réclamations</a></li>
                                    <li {% block active5 %}{% endblock %}><a href="{{path("app_forum_index")}}">Forum</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="col-lg-2">
						<div class="header__right">
							<a href="#" class="search-switch">
								<span class="icon_search"></span>
							</a>
							{% if app.user is not null %}
								<a href="{{ path('app_utilisateur_show', {'id': app.user.id}) }}">
									<span class="icon_profile"></span>
								</a>
							{% else %}
								<a href="#">
									<span class="icon_profile"></span>
								</a>
							{% endif %}
						</div>
					</div>
				</div>
				<div id="mobile-menu-wrap"></div>
			</div>
		</header>
		<!-- Header End -->

		<a href="/produit/checkout">
		<div class="header__right">
<div class="col-lg-11">
			<span class="badge badge-light">
				Panier
				{{ app.session.get('products')|length }}
			</span>
			</div>
			</div>
		</a>
<a href="/historique">
		<div class="header__right">
<div class="col-lg-11">
			<span class="badge badge-light">
			historique des commandes
			</span>
			</div>
			</div>
		</a>

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="./index.html"><img src="img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a href="./index.html">Homepage</a></li>
                        <li><a href="./categories.html">Categories</a></li>
                        <li><a href="./blog.html">Our Blog</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

              </div>
          </div>
      </div>
  </footer>
  <!-- Footer Section End -->
<!-- Search model end -->

<!-- Js Plugins -->
<script src="{{ asset('js1/jquery-3.3.1.min.js') }}"></script>

<script>
    var $j = jQuery.noConflict();
</script>
<script src="{{ asset('js1/bootstrap.min.js') }}"></script>
<script src="{{ asset('js1/player.js') }}"></script>
<script src="{{ asset('js1/jquery.nice-select.min.js') }}"></script>
<script src="{{ asset('js1/mixitup.min.js') }}"></script>
<script src="{{ asset('js1/jquery.slicknav.js') }}"></script>
<script src="{{ asset('js1/owl.carousel.min.js') }}"></script>
<script src="{{ asset('js1/main.js') }}"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/i18n/jquery-ui-i18n.min.js"></script>

<script>
    $j(function() {
        // Replace '.datepicker' with the class you added to the dateCreation field
        $j('.datepicker').datepicker({
            dateFormat: 'yy-mm-dd',
            language: 'fr'
        });
    });
</script>





</body>

</html>
