{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h2>{{forum.sujet}}</h2>


                
            <div class="cards-container">
                {% for post in posts %}
                <div class="card">
                    <div class="card-body" >
                        <div style="display:flex;flex-direction:column">
                        <p>{{post.idUser.username}}</p>
                        
                        <p class="card-title" >{{ post.message }}</p>
                        
                        </div>
                        <div style="display:flex;flex-direction:column;">
                        <!--<a href="{{ path('app_post_show', {'id': post.id}) }}">show</a>-->
                        <a href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>
                        <a href="#">like</a>
                        {{ include('post/_delete_form.html.twig') }}
                        <!--<p class="card-text">{{ post.nblike }}</p>-->
                        </div>
                        
                    </div>
                </div>
                    
                
            
        {% else %}
                <p>no records found</p>
            
        {% endfor %}
        

    <a href="{{ path('app_post_new',{'id': forum.id}) }}">Create new post</a>
    <style>
    .titles-container{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        padding-left:100px;
        padding-right:100px;
        padding-top:30px;
    }
    .title{
        text-decoration:underline;
    }
    .cards-container{
        display:flex;
        flex-direction:column;
    }
    .card{
        background-color:#323232;
        border-radius:20px;
        width:97%;
        margin:1%;
    }
    .card-body{
        display:flex;
        justify-content: space-between;
    }
    .card-title{
        margin-right:150px;
        min-width:380px;
        max-width:380px;
        color:white;
    }
    </style>
{% endblock %}

