{% extends 'baseuser.html.twig' %}

{% block title %}Post index{% endblock %}
{% block active5 %}class="active"{% endblock %}
{% block body %}
    <h2>{{forum.sujet}}</h2>
    
    


                
            <div class="cards-container">
                {% for post in posts %}
                <div class="card">
                    <div class="card-body" >
                        <div style="display:flex;flex-direction:column;">
                        <div style="display:flex;flex-direction:row;">
                        <img src="{{asset('img/profil.png')}}" style="height:25px;width:25px;margin-right:10px;"/>
                        <p class="card-title">{{post.idUser.username}}</p>
                        </div>
                        <p class="card-title" >{{ post.message|raw }}</p>
                        </div>
                        <div style="display:flex;flex-direction:column;">
                        <!--<a href="{{ path('app_post_show', {'id': post.id}) }}">show</a>-->
                        {% if post.IdUser.id=='5' %}
                        <a href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>
                        {{ include('post/_delete_form.html.twig') }}
                        {% endif %}
                        <!--<a href="#">like</a>-->
                        <!--<p class="card-text">{{ post.nblike }}</p>-->
                        </div>
                        
                    </div>
                </div>
                    
                
            
        {% else %}
                <p>no records found</p>
            
        {% endfor %}
        

    <!--<a href="{{ path('app_post_new',{'id': forum.id}) }}">Create new post</a>-->

    {{include('post/_form.html.twig')}}
    <style>
    .titles-container{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        
    }
    .title{
        text-decoration:underline;
    }
    .cards-container{
        display:flex;
        flex-direction:column;
    }
    .card{
        background-color:#323232;
        border-radius:20px;
        width:97%;
        margin:1%;
        
    }
    .card-body{
        display:flex;
        justify-content: space-between;
    }
    .card-title{
        
        min-width:380px;
        color:white;
    }
    </style>
{% endblock %}

