{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}
{% block active6 %}class="active"{% endblock %}
{% block body %}
    <!-- Afficher les 5 premiers utilisateurs en fonction du nombre de posts -->
    <h3>Top 5 utilisateurs par nombre de posts :</h3>
    <div class="row" >
    {# Afficher un graphique à barres pour les statistiques des 5 meilleurs utilisateurs #}
    <div class="col-sm-12 col-xl-6">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Graphique à barres des statistiques des 5 meilleurs utilisateurs</h6>
            <canvas id="top-users-bar-chart" width="688" height="343" style="display: block; box-sizing: border-box; height: 274.4px; width: 550.4px;"></canvas>
        </div>
    </div>

    {# Afficher un graphique à barres pour les statistiques des 5 meilleurs posts #}
    <div class="col-sm-12 col-xl-6">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Graphique à barres des statistiques des 5 meilleurs posts</h6>
            <canvas id="top-posts-bar-chart" width="688" height="343" style="display: block; box-sizing: border-box; height: 274.4px; width: 550.4px;"></canvas>
        </div>
    </div>
    </div>

    <script>
        // Graphique à barres des statistiques des 5 meilleurs utilisateurs
        var ctx = $("#top-users-bar-chart").get(0).getContext("2d");
        var myChart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: [
                    {% for user in userData|sort((a, b) => b.postCount - a.postCount)|slice(0, 5) %}
                        "{{ user.username }}",
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Nombre de posts',
                    backgroundColor: "rgba(235, 22, 22, .7)",
                    data: [
                        {% for user in userData|sort((a, b) => b.postCount - a.postCount)|slice(0, 5) %}
                            {{ user.postCount }},
                        {% endfor %}
                    ]
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                        precision: 0
                        }
                    }
                }
            }
        });
        // Graphique à barres des statistiques des 5 meilleurs posts
        var ctx2 = $("#top-posts-bar-chart").get(0).getContext("2d");
        var myChart2 = new Chart(ctx2, {
            type: "bar",
            data: {
                labels: [
                    {% for post in topLikedPosts %}
                        "{{ post.message|striptags|replace({'<span>': '', '</span>': '','<p>': '','</p>': '','&nbsp;':'','\'': ''})|trim }}",
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Nombre de likes',
                    backgroundColor: "rgba(22, 22, 235, .7)",
                    data: [
                        {% for post in topLikedPosts %}
                            {{ post.NbLike }},
                        {% endfor %}
                    ]
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                        precision: 0
                        }
                    }
                }
            }
        });
    </script>

    <script>
        {% if not app.user %}
            window.location.href = "{{ path('app_login') }}";
        {% endif %}
    </script>

{% endblock %}
