{% extends 'base.html.twig' %}

{% block title %}Reclamations{% endblock %}

{% block body %}
    <h1>Reclamations</h1>
    <a href="{{ path('app_reclamations_statistics') }}" class="btn btn-primary">Voir les statistiques</a>


   <div class="col" style="display:flex; justify-content:space-between;" >
    <div>
        <h3>Filtrer par statut :</h3>
        <button class="btn btn-light rounded-pill m-1" onclick="filterByStatus('all')">Tous</button>
        {% for status in statuses %}
            <button class="btn btn-dark rounded-pill m-1" onclick="filterByStatus('{{ status.status }}')">{{ status.status }}</button>
        {% endfor %}
    </div>
          
    <div>
        <h3>Filtrer par sujet :</h3>
        {% for sujet in sujets %}
            <button class="btn btn-dark rounded-pill m-1" onclick="filterBySubject('{{ sujet.sujet }}')">{{ sujet.sujet }}</button>
        {% endfor %}
    </div>

    
    <div>
        <h3>Trier par date de création :</h3>
        <button class="btn btn-dark rounded-pill m-1" id="btnAsc" onclick="sortByCreationDate('asc')">Plus ancien en premier</button>
        <button class="btn btn-light rounded-pill m-1" id="btnDesc" onclick="sortByCreationDate('desc')">Plus récent en premier</button>
    </div>
    </div>
    <div class="row1">
                <div class="cards-header">
                    <p class="header-text">Utilisateur</p>
                    
                    <p class="header-text">Message</p>
                    <p class="header-text">Date de Création</p>
                    <p class="header-text">Statut</p>
            
                </div>
        {% for reclamation in reclamations %}
            <div class="card">
                <div class="card-body">
                    <p class="card-text">{{ reclamation.idUser.username }}</p>
              <span class="card-text container">
                <p class="card-text subject">{{ reclamation.sujet }}</p>
                <p class="card-text message">{{ reclamation.message }}</p>
                <a href="{{ path('app_reclamationsadmin_show', {'id': reclamation.id}) }}" class="show-more">Show more</a>
            </span>
                    <p class="card-text date">{{ reclamation.dateCreation }}</p>
                    <p class="card-text status">{{ reclamation.status }}</p>
                </div>
            </div>
        {% else %}
            <div class="col">
                <p>No reclamations found</p>
            </div>
        {% endfor %}
    </div>
    <style>

    .row1{
        display:flex;
        flex-direction:column;
        width:95.5%;
        margin:1.5%;
        color:#ffffff;
    }
    .cards-header{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
    }
    .header-text{
        position:relative;
        width:10em;
        color:#797979;
        text-decoration-line: underline;
        min-width:15em;
        max-width:15em;
        margin-right : 10px;
    }
  
    .card{
        background-color: #323232;
        border-radius:20px;
        margin-bottom:10px;
    }
    .card-body {
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        width:100%; 

    }
    .card-text{
        position:relative;
        min-width:15em;
        max-width:15em;
        display:flex;
        flex-direction:row;
        align-items:center;
        margin-right : 10px;

    }
    .container{
      display:flex;
        flex-direction:column;
    }
    .message {
        max-height: 50px; /* ajustez la hauteur maximale selon vos besoins */
        overflow: hidden;
        margin-bottom: 0;
    }
    .show-more{
        position: absolute;
        bottom:-1em;
        right:1em;
        color:#797979;
        text-decoration-line: underline;
        font-size:15px;
        cursor: pointer;
       
    }
    .new{
        float:right;
    }
   
</style>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const messages = document.querySelectorAll('.message');
        messages.forEach(message => {
            if (message.scrollHeight > message.clientHeight) {
               // const showMoreBtn = message.nextElementSibling;
                //showMoreBtn.style.display = 'inline'; // Afficher le bouton "See more" si le message est tronqué
                const content = message.textContent;
                message.textContent = content.substring(0, 50) + '...';
            }
        });
    });

    // Fonction de filtrage par sujet
  
function filterBySubject(subject) {
        const cards = document.querySelectorAll('.card');
        cards.forEach(card => {
            const subjectElement = card.querySelector('.subject');
            if (subjectElement.textContent === subject) {
                card.style.display = 'block';
            } else {
                card.style.display = 'none';
            }
        });
    }
    // Fonction de tri par date de création
function sortByCreationDate(order) {

        // Sélectionnez toutes les réclamations
        var reclamations = document.querySelectorAll('.card');

        // Convertissez les réclamations en un tableau pour pouvoir les trier
        var reclamationsArray = Array.from(reclamations);

        // Triez les réclamations en fonction de la date de création
        reclamationsArray.sort(function(a, b) {
            // Récupérez les dates de création des réclamations
            var dateA = new Date(a.querySelector('.date').textContent.trim());
            var dateB = new Date(b.querySelector('.date').textContent.trim());

            // Déterminez l'ordre de tri en fonction du paramètre order
            if (order === 'asc') {
                return dateA - dateB;
            } else {
                return dateB - dateA;
            }
        });
        

        // Mettez à jour l'affichage des réclamations dans le DOM
        reclamationsArray.forEach(function(reclamation) {
            reclamation.parentNode.appendChild(reclamation);
        });
           if (order === 'desc') {
        document.getElementById('btnAsc').classList.remove('btn-light');
        document.getElementById('btnAsc').classList.add('btn-dark');
        document.getElementById('btnDesc').classList.remove('btn-dark');
        document.getElementById('btnDesc').classList.add('btn-light');
    } else {
        document.getElementById('btnDesc').classList.remove('btn-light');
        document.getElementById('btnDesc').classList.add('btn-dark');
        document.getElementById('btnAsc').classList.remove('btn-dark');
        document.getElementById('btnAsc').classList.add('btn-light');
    }
    }

    // Fonction de filtrage par statut
function filterByStatus(status) {
        // Sélectionnez toutes les réclamations
        var reclamations = document.querySelectorAll('.card');

        // Parcourez chaque réclamation
        reclamations.forEach(function(reclamation) {
            // Récupérez le statut de la réclamation
            var reclamationStatus = reclamation.querySelector('.status').textContent.trim();

            // Vérifiez si le statut de la réclamation correspond au statut sélectionné
            if (status === 'all' || reclamationStatus === status) {
                // Affichez la réclamation si elle correspond au statut sélectionné ou si le statut est "tous"
                reclamation.style.display = 'block';
            } else {
                // Masquez la réclamation si elle ne correspond pas au statut sélectionné
                reclamation.style.display = 'none';
            }
        });
        document.querySelectorAll('.btn-status').forEach(button => {
        if (button.textContent === status) {
            button.classList.remove('btn-light');
            button.classList.add('btn-dark');
        } else {
            button.classList.remove('btn-dark');
            button.classList.add('btn-light');
        }
    });
    }

</script>
{% endblock %}

