{% extends 'base.html.twig' %}

{% block title %}Reclamation details{% endblock %}


{% block body %}
    <h1>Reclamation details</h1>

{#
  <div class="row">
                <div class="cards-header">
                    <p class="header-text">Sujet</p>
                    <p class="header-text">Message</p>
                    <p class="header-text">Date de Création</p>
                    <p class="header-text">Status</p>
                    <p class="header-text">Action</p>
                </div>
            <div class="card">
                <div class="card-body">
                    <p class="card-text">{{ reclamation.sujet }}</p>
                    <p class="card-text" >{{ reclamation.message }}</p>
                    <p class="card-text">{{ reclamation.dateCreation }}</p>
                    <p class="card-text">{{ reclamation.status }}</p>
                    <div class="card-text">
                    <a href="{{ path('app_reclamations_edit', {'id': reclamation.id}) }}" >Edit</a>
                    <div>{{ include('reclamations/_delete_form.html.twig') }}</div>
                    </div>
                </div>
            </div>
    </div>
    <h2>Reclamation Responses</h2>
    {% for reclamationreponse in reponses %}
        <div class="card mt-3">
            <div class="card-body">
                <p class="card-text">{{reclamationreponse.reponse}}</p>
                <div class="card-text">
            <a href="{{ path('app_reclamationreponse_edit', {'id': reclamationreponse.id}) }}">Edit</a>
            <div>{{ include('reclamationreponse/_delete_form.html.twig') }}
            </div>
            </div>
            </div> 
        </div>
    {% endfor %}
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Add Response</h5>
                <a href="{{ path('app_reclamationreponse_new') }}">Create new</a>
                <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
     <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Change Status</h5>
            <form action="{{ path('change_reclamation_status', {'id': reclamation.id}) }}" method="post">
                <div class="form-group">
                    <label for="status">Select Status:</label>
                    <select id="status" name="status" class="form-control">
                        <option value="Pending">Pending</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Resolved">Resolved</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Update Status</button>
            </form>
        </div>
    </div>
    {% if reclamation.captureecranpath is not null %}
    <img src="{{ asset('uploads/captures/' ~ reclamation.captureecranpath) }}" alt="Capture d'écran">
{% else %}
    <p>No capture screen available</p>
{% endif %} #}
<div class="row">       
    <div class="card">
        <div class= "card-body">
            <div>
                <p class="header-text">Nom de l'utilisateur</p>
                <p class="card-text">{{ reclamation.idUser.username }}</p>
                <p class="header-text">Sujet</p>
                <p class="card-text">{{ reclamation.sujet }}</p>
                <p class="header-text">Message</p>
                <p class="card-text" >{{ reclamation.message }}</p>
                <p class="header-text">Date de Création</p>
                <p class="card-text">{{ reclamation.dateCreation }}</p>
                <p class="header-text">Status</p>
                <p class="card-text">{{ reclamation.status }}</p>
            </div>
            <div>
                {% if reclamation.captureecranpath is not null %}
                    <img src="{{ asset('uploads/captures/' ~ reclamation.captureecranpath) }}"  alt="Capture d'écran" class="screenshot-img" id="screenshot-img">
                {% else %}
                    <p class="no-capture-text">No capture screen available</p>
                {% endif %}
            </div>
        </div>
    </div>
   {#  <div class="col-sm-12 col-xl-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Change Status</h5>
            <form action="{{ path('change_reclamation_status', {'id': reclamation.id}) }}" method="post">
                <div class="form-group">
                    <label for="status">Select Status:</label>
                    <select id="status" name="status" class="form-control">
                        <option value="Pending">Pending</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Resolved">Resolved</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Update Status</button>
            </form>
        </div>
    </div>
    </div>#}
        <div class="card">
    <div class="card-header">
            Changer statut
        </div>
            <form action="{{ path('change_reclamation_status', {'id': reclamation.id}) }}" method="post">
                <div class="card-body">
                    <label for="status">Selectionner Statut:</label>
                    <select id="status" name="status" class="form-control" style="background-color:#262626">
                        <option value="Pending" {% if reclamation.status == 'Resolved' %} disabled {% endif %}>Pending</option>
                        <option value="In Progress" {% if reclamation.status == 'Resolved' %} disabled {% endif %}>In Progress</option>
                        <option value="Resolved" {% if reclamation.status == 'Resolved' %} selected disabled {% endif %}>Resolved</option>
                    </select>


                </div>
                <button type="submit" class="btn btn-primary rounded-pill m-2" {% if reclamation.status == 'Resolved' %}disabled{% endif %} >Update Status</button>
            </form>
            </div>

    <div class="card">
        <div class="card-header">
            Réponses
        </div>
        <div class="card-body">
            {% for reclamationreponse in reponses %}
                <div class="response">
                    <p>{{ reclamationreponse.reponse }}</p>
                    <div class="action-buttons">
                        <a href="{{ path('app_reclamationreponse_edit', {'id': reclamationreponse.id}) }}" class="btn btn-light rounded-pill m-2">Modifier</a>
                        <div class="delete-form">{{ include('reclamationreponse/_delete_form.html.twig') }}</div>
                    </div>
                </div>
                <hr/>
            {% endfor %}
                <div class="new-response">
                {{form_start(form,{'attr': {'novalidate': 'novalidate'}})}}
                    <div class="form-group">
                        <label for="new_response">Nouvelle réponse :</label>
                        {{ form_row(form.reponse,{'attr': {'class': 'form-control','id':'new_response', 'placeholder': 'Réponse', 'required': 'required','style':'background-color:#262626;color:#fff'}}) }}
                    </div>
                    <button type="submit" class="btn btn-primary rounded-pill m-2">Ajouter</button>
                {{form_end(form)}}
            </div>
        </div>
    </div>
 
</div>
  
<style>
    .row{
        display:flex;
        flex-direction:column;
        width:95.5%;
        margin:1.5%;
        color:#ffffff;
        align-items:center;
    }
    .cards-header{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        margin-left:20px;
        
    }
    .header-text{
        position:relative;
        width:10em;
        color:#797979;
        text-decoration-line: underline;
    }
    .card{
        background-color: #323232;
        border-radius:20px;
        margin-bottom:10px;
        width:100%;
        color:#ffffff;
        
    }
    .card-body {
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        width:100%;  
    }
    .card-text{
        position:relative;
        min-width:15em;
        max-width:15em;
           display:flex;
        flex-direction:row;
         align-items:center;
        margin-right : 10px;
        
    }
    .card-date{
        min-width:100px;
        max-width:100px;
    }
    .card-title{
        
        min-width:100px;
        max-width:100px;
        color:white;
        padding-left:0;
    }
    .show{
        position: absolute;
        top:20px;
        right:10px;
        color:#797979;
        text-decoration-line: underline;
    }
    .new{
        float:right;
    }

.screenshot-img {
    width: 100%;
    height: auto;
    max-height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
     transition: transform 0.3s ease;
}
  .screenshot-img:hover {
        transform: scale(1.5);
    }
.no-capture-text {
    font-style: italic;
    color: #777;
}

   
</style>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
            var image = document.getElementById('screenshot-img');
            image.addEventListener('click', function() {
                if (!document.fullscreenElement) {
                    image.requestFullscreen().catch(err => {
                        console.error(`Error attempting to enable full-screen mode: ${err.message}`);
                    });
                } else {
                    document.exitFullscreen();
                }
            });
        });
    </script>
{% endblock %}
