{% extends 'base.html.twig' %}

{% block title %}Reclamation details{% endblock %}

{% block body %}
    <h1>Reclamation details</h1>

  <div class="row">
                <div class="cards-header">
                    <p class="header-text">Sujet</p>
                    <p class="header-text">Message</p>
                    <p class="header-text">Date de Création</p>
                    <p class="header-text">Status</p>
                    <p class="header-text">Action</p>
                </div>
            <div class="card">
                <div class="card-body">
                    <p class="card-text">{{ reclamation.sujet }}</p>
                    <p class="card-text" >{{ reclamation.message }}</p>
                    <p class="card-text">{{ reclamation.dateCreation }}</p>
                    <p class="card-text">{{ reclamation.status }}</p>
                    <div class="card-text">
                    <a href="{{ path('app_reclamations_edit', {'id': reclamation.id}) }}" >Edit</a>
                    <div>{{ include('reclamations/_delete_form.html.twig') }}</div>
                    </div>
                </div>
            </div>
    </div>
    <h2>Reclamation Responses</h2>
    {% for reclamationreponse in reponses %}
        <div class="card mt-3">
            <div class="card-body">
                <p class="card-text">{{reclamationreponse.reponse}}</p>
                <div class="card-text">
            <a href="{{ path('app_reclamationreponse_edit', {'id': reclamationreponse.id}) }}">Edit</a>
            <div>{{ include('reclamationreponse/_delete_form.html.twig') }}</div>
            </div>
            </div>
            
            
        </div>
    {% endfor %}
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Add Response</h5>
                <a href="{{ path('app_reclamationreponse_new') }}">Create new</a>
                <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
     <style>
    .row{
        display:flex;
        flex-direction:column;
        width:95.5%;
        margin:1.5%;
        color:#ffffff;
    }
    .cards-header{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        margin-left:20px;
        
    }
    .header-text{
        position:relative;
        width:10em;
        color:#797979;
        text-decoration-line: underline;
    }

  
    .card{
        background-color: #323232;
        border-radius:20px;
        margin-bottom:10px;
    }
    .card-body {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        width:100%;  
    }
    .card-text{
        position:relative;
        min-width:15em;
        max-width:15em;
           display:flex;
        flex-direction:row;
         align-items:center;
    }
    .card-date{
        min-width:100px;
        max-width:100px;
    }
    .card-title{
        
        min-width:100px;
        max-width:100px;
        color:white;
        padding-left:0;
    }
    .show{
        position: absolute;
        top:20px;
        right:10px;
        color:#797979;
        text-decoration-line: underline;
    }
    .new{
        float:right;
    }
   
</style>
{% endblock %}
