{% extends 'baseuser.html.twig' %}
{% block title %}My team{% endblock %}
{% set nbrJoueursManquants = tournoi.jpt - membres|length %}
{% set nomsMembres = membres|map(member => member.iduser.username)|join(', ') %}
{% block body %}
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                                <div class="col-lg-3">
                                {% if equipe.imageequipe %}
                                    <div class="anime__details__pic set-bg" data-setbg="{{ asset('img/' ~ equipe.imageequipe) }}">
                                {% else %}
                                    <div class="anime__details__pic set-bg" data-setbg="{{ asset('img/equipe.png') }}">
                                {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="anime__details__text">
                                        <div class="anime__details__title">
                                            <h3>{{ equipe.nom }}</h3>
                                            <span>Le nom de notre association {{ equipe.associationname }} est porté haut par notre équipe, transformant chaque succès sur le terrain en un pas de plus vers notre objectif commun</span>
                                        </div>
                                        <div class="anime__details__widget">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <ul>
                                                        <li><span>Points:</span> {{equipe.points}} pts </li>
                                                        <li><span>Tournoi :</span> {{ equipe.idtournoi }}</li>
                                                        <li><span style="flex:1">joueurs disponibles :</span> {{ membres|length }} </li>
                                                        <li><span>joueurs manquants :</span> {{nbrJoueursManquants}}</li>
                                                        <li><span>Membres de l'equipe :</span> {{nomsMembres }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="anime__details__btn d-flex">
                                            <a href="{{ path('app_equipe_edit', {'id': equipe.id ,'idtournoi': idtournoi}) }}" class="follow-btn"><i class="fa fa-edit"></i> modifier</a>
                                            {% if nbrJoueursManquants is defined and nbrJoueursManquants > 0 %}
                                                <a href="{{ path('app_invitation_new', {'id': equipe.id}) }}" class="follow-btn"><i class="fa fa-user-plus" aria-hidden="true" ></i>  Inviter</a>
                                            {% endif %}             
                                            <form method="post" action="{{ path('app_membre_delete', {'id': membre.id}) }}">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ membre.id) }}">
                                                <button class="follow-btn">  Quitter</button>
                                            </form>
                                            {% if not existpartie %}
                                            <form id="deleteForm" method="post" action="{{ path('app_equipe_delete', {'id': equipe.id,'idtournoi':idtournoi}) }}">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipe.id) }}">
                                                <button class="follow-btn"><i class="fa fa-trash" aria-hidden="true"></i>  Supprimer</button>
                                            </form>
                                            {% else %}
                                                <button class="follow-btn" type="button" onclick="showAlert()"><i class="fa fa-trash" aria-hidden="true"></i>  supprimer</button>
                                            {% endif %}
                                        </div>
                                        </div>
                                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('deleteForm').addEventListener('submit', function (e) {
                e.preventDefault();

                Swal.fire({
                    title: "Etes vous sur?",
                    text: "vous ne le verrez plus!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#262626",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "OUI, supprimer!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        document.getElementById('deleteForm').submit();
                    }
                });
            });
        });
        function showAlert() {
        Swal.fire({
            icon: "error",
            title: "Oops...",
            text: "Impossible de supprimer , votre équipe a déja joué des parties!",
            confirmButtonColor: '#ff0000', 

        });
    }
    </script>
    <script>
        {% if not app.user %}
            window.location.href = "{{ path('app_login') }}";
        {% endif %}
    </script>
{% endblock %}