{% extends 'base.html.twig' %}

{% block title %}resultat Partie{% endblock %}

{% block body %}
               
    <div class="container-fluid pt-4 px-4">
        <h1>Modifier la partie</h1>
        <div class="row g-4">
            <div class="col-sm-12 col-xl-12">
                                <div class="bg-secondary rounded h-100 p-4">
                                    <!-- START: Now Playing -->
                                    <div class="nk-match">
                                        <div class="nk-match-team-left">
                                            <a href="#">
                                                <span class="nk-match-team-logo">
                                                    <img src="{{ asset("img/equipe.png") }}" alt="" width="100px" height="100px">
                                                </span>
                                                <span class="nk-match-team-name">
                                                   {{ partie.equipe1id }}
                                                </span>
                                            </a>
                                        </div>
                                        <div class="nk-match-status">
                                            <a href="#">
                                                <span class="nk-match-status-vs">VS</span>
                                                <span class="nk-match-score bg-danger">
                                                    {{partie.scoreequipe1}} - {{partie.scoreequipe2}}
                                                </span>
                                            </a>
                                        </div>
                                        <div class="nk-match-team-right">
                                            <a href="#">
                                                <span class="nk-match-team-name">
                                                    {{ partie.equipe2id }}
                                                </span>
                                                <span class="nk-match-team-logo">
                                                    <img src="{{ asset("img/equipe.png") }}" alt="" width="100px" height="100px">
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- END: Now Playing -->
                                    {{ include('partie/_form.html.twig', {'button_label': 'Modifier'}) }}
                                </div>
            </div>
        </div>
    </div>
{% endblock %}
