{% extends 'base.html.twig' %}

{% block title %}Partie{% endblock %}

{% block body %}
    <div class="container-fluid pt-4 px-4">
        <h1>Consulter la partie</h1>
        <div class="row g-4">
            <div class="col-sm-12 col-xl-12">
                                <div class="bg-secondary rounded h-100 p-4">
                                    <!-- START: Now Playing -->
                                    <div class="nk-match">
                                        <div class="nk-match-team-left">
                                            <a href="#">
                                                <span class="nk-match-team-logo">
                                                    <img src="{{ asset("img/equipe.png") }}" alt="" width="100px" height="100px">
                                                </span>
                                                <span class="nk-match-team-name">
                                                   {{ partie.equipe1id }}
                                                </span>
                                            </a>
                                        </div>
                                        <div class="nk-match-status">
                                            <a href="#">
                                                <span class="nk-match-score bg-danger">
                                                    {{partie.scoreequipe1}} - {{partie.scoreequipe2}}
                                                </span>
                                                <span class="nk-match-status-vs">  </span>
                                                <span class="nk-match-status-vs">{{partie.phase}}</span>
                                            </a>
                                        </div>
                                        <div class="nk-match-team-right">
                                            <a href="#">
                                                <span class="nk-match-team-name">
                                                    {{ partie.equipe2id }}
                                                </span>
                                                <span class="nk-match-team-logo">
                                                    <img src="{{ asset("img/equipe.png") }}" alt="" width="100px" height="100px">
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                        <p>commentaire :     {{partie.commentaire}} </p>
                                </div>                    
            </div>
            
        </div>
    </div>    
    <script>
        {% if not app.user %}
            window.location.href = "{{ path('app_login') }}";
        {% endif %}
    </script>
{% endblock %}
