{% extends 'base.html.twig' %}

{% block title %}Edit Reclamationreponse{% endblock %}

{% block body %}
    <h1>Edit Reclamation Reponse</h1>

    {{form_start(form,{'attr': {'novalidate': 'novalidate'}})}}
                    <div class="form-group">
                        
                        {{ form_row(form.reponse,{'attr': {'class': 'form-control','id':'new_response', 'placeholder': 'Nouvelle réponse', 'required': 'required'}}) }}
                    </div>
                    <button type="submit" class="btn btn-primary rounded-pill m-2">Modifier</button>
         {{form_end(form)}}
    {{ include('reclamationreponse/_delete_form.html.twig') }}

    <script>
        {% if not app.user %}
            window.location.href = "{{ path('app_login') }}";
        {% endif %}
    </script>
{% endblock %}
